.ride-design{
  /* display: grid;
  grid-template-columns: repeat(1, 1fr); */
  
    padding: 30px;
    background: white;
    text-align: center;
    cursor: pointer;
   width: 250px;
    
}
.card-design{
  width: 200px;
  padding: 0 15px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
imgUrl {
  width: 100px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .ride-design{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      /* align-items: center; */
    }
  }