.ride-design{
  /* display: grid;
  grid-template-columns: repeat(1, 1fr); */
  
    padding: 30px;
    background: white;
    text-align: center;
    cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .ride-design{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      /* align-items: center; */
    }
  }